dist*
static/
*.hi
*.o
*.sqlite3
fay/Fay/Yesod.hs
.hsenv*
cabal-dev/
.stack-work/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter
.dir-locals.el
config/
application.log
sql/
*.sh
pjs/
pcookies/
tmp/
*.txt
carbuyer-advisor
